---
title: Trang chủ
layout: default
---

<!-- display all category -->
{% include list_category.html list_category=site.category%}

<!-- show post -->
{% for post in paginator.posts %}
{% include article_item.html post=post %}
{% endfor %}

<!--  -->
{% if paginator.total_pages > 1 %}
<nav class="pagination justify-content-center">


  {% if paginator.previous_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.previous_page_path }}">Prev</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link">Prev</a>
  </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <li class="page-item active">
    <a href="" class="page-link">{{page}}</a>
  </li>
  {% elsif page == 1 %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
  </li>
  {% else %}
  <li class="page-item">
    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page}}">{{ page }}</a>
  </li>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link">Next</a>
  </li>
  {% endif %}
</nav>
{% endif %}